.pagination_container{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    justify-content: space-around;
    max-width: 555px;
    width: 100%;
    margin: 67px auto;
}
.page_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
    border: 1px solid #000;
    border-radius: 2px;
    cursor: pointer;
}

.active_page{
    color: red;
    border-color: red;
}
.number_container{
    display: flex;
    align-items: center;
    gap: .7rem;
}
.number_container button{
    padding: .25rem .5rem;
}