.form_container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.form_header{
    font-weight: var(--fw-400);
    font-size: 48px;
}
form{
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 35px;
    width: 100%;
}