.main_button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 32px;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    font-weight: 500;
}
.secondary{
    background-color: #000;
    color: #fff;
}
.add{
    border-color: #00A3FF;
    background-color: #00A3FF ;
    color: #fff;
}