.btn{
    font-size: 1.125rem;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 2rem;
    border: 1px solid var(--clr-black);
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    cursor: pointer;
}
.black{
    background-color: var(--clr-black);
    color: var(--clr-white);
}