header{
    width: 100%;
}
.header_container{
    padding-top: 2.38rem;
    display: grid;
    grid-template-columns: 112px 1fr 1fr;
    align-items: center;
    justify-content: normal;
}
.main_navigation{
    margin-left: 5rem;
}
.main_navigation ul{
    gap: 1.75rem;
}
.navigation_link{
    color: var(--clr-black);
    padding-bottom: 0.19rem;
}
.navigation_link:hover{
    color: var(--clr-brightred);
}
.navigation_link:active{
    border-bottom: 1px solid var(--clr-brightred);
    font-weight: var(--fw-700);
}
.user_container{
    display: flex;
    align-items: center;
    justify-self: end;
    margin-left: auto;
    gap: 2.5rem;
}